*{
    font-family: Open Sans Condensed;
    color: #fff;
    margin: 0px;
    padding: 0px;
 }
 /* HEADER */ 


 header {
    min-height: 100vh;
    background: #000 url('../img/Rectangle\ 3.jpg') no-repeat;
    background-size: cover;
    padding: 0 10em;
 }
/* NAVIGATION */
 nav{
    text-transform: uppercase;
    padding: 3.8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 nav > a{
    text-decoration: none;
    margin: 1.3em;
    transition: 0.3s border;
    display: inline;
 }
 nav > a:hover {
     border-bottom: 3px solid #D1A954;
 }
 nav :nth-child(6){
    border-bottom: 3px solid #D1A954;
    margin-left: 5.2em;
}
/* TEXT INFO*/
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 8em ;
}
.main-info > img{
    margin: 10px;
}
.info-text{
    min-width: 300px;
    max-width: 540px;
    height: fit-content;
}
.info-text > p{ 
    font-size: 1em;
    margin-bottom: 1.4em;
}
.info-text > h1{
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
 .button{
    padding: 1.1em 0.8em;
    text-transform: uppercase;
    background-color: #D1A954;
    border: none;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-weight: 600;
}

/* SLIDER */

.slider{
    display: flex;
    flex-direction: column;

}
.slider > span {
    display: flex;
    justify-content: space-around;
}
.slider > span > button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 1.1em;
    letter-spacing: 0.1em;
}

/* О театре */

body {
    background-color: #333;
}
.heading{
    text-align: center;
    font-style: normal;
font-size: 48px;
line-height: 65px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.about{
    padding: 2em;
}
.gold-color {
    color:#D1A954;
}

.format{ 
    font-size: 38px;
    text-transform: uppercase;
    line-height:1.4em;
}
.about-text {
    max-width: 592px;
}
.about-number > *{
    margin-top: 10px;
}

/* наши постановки */

.img-slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3em;
    overflow: hidden;
}
.img-slider > div{
    width: 443px;
    height: 550px;
    font-size: 1.2em;
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.bcg-img-1{
    background: url("../img/Rectangle15.jpg") no-repeat;
}
.bcg-img-2{
    background: url("../img/Rectangle16.png") no-repeat;
    grid-template-areas: 'search'
    'search';
   align-items: center;
    justify-items: center;
}
.bcg-img-3{
    background: url("../img/Rectangle17.png") no-repeat;
}
.bcg-img-4{
    background: url("../img/Rectangle18.jpg") no-repeat;
}
.pos-img-heading{
    text-transform:uppercase;
    letter-spacing: 0.1em;
    margin: 1.5em;
    
}
.rotate {
    transform: rotate(-90deg);
    display: inline-block;
    justify-self: start;
    align-self: center;
}
.pos-slider-block{
    border: none;
    background-color: #D1A954;
    width: 50px;
    height: 50px;
    border-radius:50%;
    grid-area: search;
}

/* рейтинг */
.reating-pos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.raiting{ 
width: 1110px;
height:550px;
background: url("../img/Rectangle28.jpg") no-repeat;
display: flex;
justify-content: center;
padding-top: 5%;

}
.grid{
    display: inline-grid;
grid-template-columns: 130px 340px;
grid-template-rows: 1fr 1fr 1fr 1fr; 
grid-template-areas:
    "year stars"
    "year text"
    "year text"
    "year text";
    align-content: center;
}
.year{
    display: flex;
    flex-direction: column;
   grid-area: year;
   justify-items: right;
   align-items: stretch;
}
.stars{
    display: flex;
    flex-direction: row;
    grid-area: stars;

}
.stars > img {
    margin: 15px;
}
.raiting-text {
    grid-area: text;
    font-size: 28px;

}

/* PARTNER */

.partner{
    padding: 0 20%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    " head head head head"
    " . . . . "
    " . . . . ";
}
#grid-heading{
    grid-area: head; 
}
.logo-partner {
    margin: 2em;
}

/* CONTACTS */

.pos-contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contacts{
    margin-top: 7em;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "head head"
    "number form"
    "number form";
}
#contacts{
    grid-area:head;
}
.contact-number{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 1.2em;
    grid-area: number;
    font-size: 1.5em
}
.text-input{
    background: #616161;
    border: 2px solid #4e4e4e;
    margin: 1.1em;
    padding: 3px;
}
form > span {
    color: #989898;
}
#form-pos {
    display: grid;
    grid-area: form;
    grid-template-rows: 70px 70px 1fr 1fr;
    grid-template-areas: 
    "name company message message"
    "tel mail message message"
    "info info . ."
    "info info submit submit";
}
#name{grid-area: name;}
#company{grid-area: company;}
#tel{grid-area:tel;} 
#mail{grid-area:mail;}
#message{grid-area:message;}
#info{grid-area:info; padding-left: 1em; font-size: 15px;}
#submit{grid-area:submit;}

/* FOOTER */

footer{ 
    border-top: 2px solid #585858;
    margin: 5em 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.4em 0;
 
}
footer > span{
    color:#585858;
    font-size: 1.2em;
    line-height: 2em;
}
footer > span:nth-child(2){
    grid-column: end-line;

}

@media only screen and (max-width:992px){
    nav{
        padding: 0px;
        justify-content: center;
    }
    nav>a{
        margin: .7em;
    }
    .slider{
        display: none;
    }
    .info-text > h1{
        font-size: 40px;
    }
    .button{
        padding: .5em;
        font-size:1.2em;
    }
    .main-info{
        padding: 3em 0 0 0; 
    }
    .main-info > img {
        display: none;
    }
    .format{
        font-size: 28px;
    }
    .raiting {
        width: 555px;
        height: 225px;
    }
    .heading{
        font-size: 28px;
    }
    .partner > img{
        width: 76%;
    }
    .contact-number{
        margin: 10px;
        font-size: 1.1em;
    }
    .contacts{
        grid-template-areas:
        "head head"
        "form form"
        "number number"
    }
}
@media only screen  and (max-width:768px){
   header{
       padding: 0px;
   }
    nav{
       display: flex;
    }
    .pos-info{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 576px){
   nav{
       font-size: 13px;
   }
    .info-text > h1 {
        font-size: 30px;
    }
    .contacts {
        padding: 5%;
        grid-template-rows: 20% 1fr 1fr;
    }
    #form-pos{
        grid-template-columns: 30% 30% 40%;
    }
}