*{
    font-family: Open Sans Condensed;
    color: #fff;
    margin: 0px;
    padding: 0px;
 }
 /* HEADER */ 


 header {
    min-height: 100vh;
    background: #000 url('../img/Rectangle\ 3.jpg') no-repeat;
    background-size: cover;
    padding: 0 10em;
 }
/* NAVIGATION */
 nav{
    text-transform: uppercase;
    padding: 3.8em;
    text-align: center;
 }
 nav a{
    text-decoration: none;
    margin: 1.3em;
    transition: 0.3s border;
 }
 nav a:hover {
     border-bottom: 3px solid #D1A954;
 }
 nav :nth-child(6){
    border-bottom: 3px solid #D1A954;
    margin-left: 5.2em;
}
/* TEXT INFO*/
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8em ;
}
.info-text{
    min-width: 300px;
    max-width: 540px;
    height: fit-content;
}
.info-text p{ 
    font-size: 1em;
    margin-bottom: 1.4em;
}
.info-text h1{
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
 .button{
    padding: 1.1em 0.8em;
    text-transform: uppercase;
    background-color: #D1A954;
    border: none;
    letter-spacing: 0.1em;
    font-size: 1.1em
}

/* SLIDER */

.slider{
    display: flex;
    flex-direction: column;

}
.slider span {
    display: flex;
    justify-content: space-around;
}
.slider span button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 1.1em;
    letter-spacing: 0.1em;
}

/* О театре */

body {
    background-color: #333;
}
.main-content{
    overflow: hidden;
}
.heading{
    text-align: center;
    font-style: normal;
font-size: 48px;
line-height: 65px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.about{
    padding: 2em;
}
.gold-color {
    color:#D1A954;
}

.format{ 
    font-size: 38px;
    text-transform: uppercase;
    line-height:3em;
}
.about-text {
    max-width: 592px;
}
.about-number *{
    margin-top: 10px;
}

/* наши постановки */

.img-slider{
    display: flex;
    flex-direction: row;
    margin: 3em;
}
.pos-img-heading{
    position: relative;
    top:-530px;
    left: -40px;
    text-transform:uppercase;
    letter-spacing: 0.1em;
}
.rotate {
    transform: rotate(-90deg);
    position: relative;
    display: inline-block;
    top:-80px;
}
.pos-slider-block{
    display: flex;
    justify-content: center;
    position: relative;
    border: none;
    background-color: #D1A954;
    width: 50px;
    height: 50px;
    border-radius:50%;
    top: -300px;
    left:200px;
}

/* рейтинг */
.reating-pos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.raiting{ 
width: 1110px;
height:550px;
background: url("../img/Rectangle28.jpg") no-repeat;
display: flex;
justify-content: center;
padding-top: 5%;

}
.grid{
    display: inline-grid;
grid-template-columns: 130px 340px;
grid-template-rows: 1fr 1fr 1fr 1fr; 
grid-template-areas:
    "year stars"
    "year text"
    "year text"
    "year text";
    align-content: center;
}
.year{
    display: flex;
    flex-direction: column;
   grid-area: year;
   justify-items: right;
   align-items: stretch;
}
.stars{
    display: flex;
    flex-direction: row;
    grid-area: stars;

}
.stars img {
    margin: 15px;
}
.raiting-text {
    grid-area: text;
    font-size: 28px;

}

/* PARTNER */

.partner{
    padding: 0 20%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    " head head head head"
    " . . . . "
    " . . . . ";
}
#grid-heading{
    grid-area: head; 
}
.logo-partner {
    margin: 2em;
}

/* CONTACTS */

.contacts{
    margin-top: 7em;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "head head"
    "number form"
    "number form";
}
#contacts{
    grid-area:head;
}
.contact-number{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 1.2em;
    grid-area: number;
    font-size: 1.5em
}
.text-input{
    background: #616161;
    border: 2px solid #4e4e4e;
    margin: 1.1em;
    padding: 3px;
}
form span {
    color: #989898;
}
#form-pos {
    display: grid;
    grid-area: form;
    grid-template-rows: 70px 70px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name company message message"
    "tel mail message message"
    "info info . ."
    "info info submit submit";
}
#name{grid-area: name;}
#company{grid-area: company;}
#tel{grid-area:tel;} 
#mail{grid-area:mail;}
#message{grid-area:message;}
#info{grid-area:info; padding-left: 1em; font-size: 15px;}
#submit{grid-area:submit;}

/* FOOTER */

footer{ 
    border-top: 2px solid #585858;
    margin: 5em 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.4em 0;
 
}
footer span{
    color:#585858;
    font-size: 1.2em;
    line-height: 2em;
}
footer span:nth-child(2){
    grid-column: end-line;

}